body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.parent {
    height: 400px;
    border: 3px solid #7aaac3;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.child {
    background-color: #4f7396;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 4px;
}
