
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}


.hero {
    height: 100vh;
    background: url("./image/task.jpeg") center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(95,92,255,0.85),
        rgba(106,130,251,0.85)
    );
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    max-width: 700px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 30px;
}


.btn {
    background: #2dd4bf;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    text-decoration: none;
}

.section {
    padding: 80px 20px;
}

.center {
    text-align: center;
}

.subtitle {
    color: #777;
    margin-bottom: 50px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    text-align: center;
}

.card img {
    width: 120px;
    margin-bottom: 15px;
}


.feature {
    padding: 80px 20px;
    text-align: center;
}

.feature img {
    width: 300px;
    margin-bottom: 20px;
}

.feature.light {
    background: #f7f7f7;
}


.cta {
    background: linear-gradient(135deg, #5f5cff, #6a82fb);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.cta h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.cta p {
    margin-bottom: 25px;
    font-size: 15px;
}


footer {
    background: #2f3640;
    color: #bfc3c7;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left h4 {
    color: white;
    font-weight: 500;
}

.footer-middle p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-right a {
    display: block;
    color: #bfc3c7;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 6px;
}

.footer-right a:hover {
    color: white;
}